.container {
    /* background-color: blue; */
    display: flex;
    /* flex-direction: column; */
    border: solid black 2px;
    /* flex: 1 1 0; */
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    justify-self: center;
}

button {
    width: 300px;
    height: 100px;
    align-self: auto;
    margin: 10px;
}

body {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    align-content: center;
}

.button-container {
    display: flex;
    flex-direction: column;
}